# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
.venv/
venv/
.env/
env/
ocr/.venv
ocr/venv
ocr/.env
ocr/env

# Ignore all files in the test_files directory
tests/test_files/*

# Allow a placeholder file to keep the directory structure
!tests/test_files/.gitkeep
